{% load i18n %}
{% load static %}


<h1 style="color:#B49359;" class="text-font-very-bold">{{ icetype_item.title }}</h1>

<div style="color:white;" class="title-font fs-4 mb-3">
    {{ icetype_item.price }} € + 10% IVA
</div>

<h5 style="color:white;" class="title-font fs-6">
    {{ icetype_item.description }}
</h5>

<div class="accordion mb-3" id="accordion-1">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-1-2">
            <button
                    style="color:#B49359;"
                    class="accordion-button collapsed fs-6"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-1-2"
                    aria-expanded="false"
                    aria-controls="collapse-1-2" >

                <h5 style="color:#B49359;" class="text-font-very-bold">
                    {% trans "Additional Information" %}
                </h5>
            </button>
        </h2>

        <div id="collapse-1-2" class="accordion-collapse collapse" aria-labelledby="heading-1-2"
             data-bs-parent="#accordion-1">
            <div style="color:white;" class="accordion-body">

                <h5 class="title-font fs-6 mb-3">
                    {% trans "Size" %}:
                    <span style="color:#B49359;" class="title-font fs-4 mb-3 mx-2">
                        {{ icetype_item.size }}
                    </span> cm
                </h5>

                <h5 class="title-font fs-6 mb-3">
                    {% trans "Box weight" %}:
                    <span style="color:#B49359;" class="title-font fs-4 mb-3 mx-2">
                        {{ icetype_item.box_weight }}
                    </span> kg
                </h5>

                <h5 class="title-font fs-6 mb-3">
                    {% trans "Cube's quantity" %}:
                    <span style="color:#B49359;" class="title-font fs-4 mb-3 mx-2">
                        {{ icetype_item.cubes_quantity }}
                    </span> {% trans "units" %}
                </h5>

            </div>
        </div>
    </div>
</div>

<div class="row pt-5 justify-content-center">
    <div class="col-6 text-center">
        <a href="https://wa.me/34698458286?text=Hello!%20I'm%20interested%20in%20{{ zebartools_item.title }}%20"
           class="btn-electric-dark text-center">{% trans "Order" %}</a>
    </div>
</div>

