{% load i18n %}
{% load static %}


<div class="row flex-nowrap align-items-end g-2 g-xl-5 mb-2 mb-xl-5"
     data-bottom-top="transform: translateX(-25%)" data-top-bottom="transform: translateX(-40%)">

    <div class="col-6 col-lg-5">
        <figure class="media equal equal-16-10 media-image box-shadow1"
                data-bp='{"imgSrc": "/static/Zeice/img/ice-fabrica-1.JPG" , "parentGalleryClass": "gallery-1" }'>
            <span style="background-image: url({% static 'Zeice/img/ice-fabrica-1.JPG' %})"></span>
        </figure>
    </div>

    <div class="col-6 col-lg-5">
        <figure class="media equal equal-16-10 media-image box-shadow1"
                data-bp='{"imgSrc": "/static/Zeice/img/ice-fabrica-2.JPG" , "parentGalleryClass": "gallery-1" }'>
            <span style="background-image: url({% static 'Zeice/img/ice-fabrica-2.JPG' %})"></span>
        </figure>
    </div>

    <div class="col-6 col-lg-5">
        <figure class="media equal equal-16-10 media-image box-shadow1"
                data-bp='{"imgSrc": "/static/Zeice/img/ice-fabrica-3.JPG" , "parentGalleryClass": "gallery-1" }'>
            <span style="background-image: url({% static 'Zeice/img/ice-fabrica-3.JPG' %})"></span>
        </figure>
    </div>

    <div class="col-6 col-lg-5">
        <figure class="media equal equal-16-10 media-image box-shadow1"
                data-bp='{"imgSrc": "/static/Zeice/img/ice-fabrica-4.JPG" , "parentGalleryClass": "gallery-1" }'>
            <span style="background-image: url({% static 'Zeice/img/ice-fabrica-4.JPG' %})"></span>
        </figure>
    </div>

    <div class="col-6 col-lg-5">
        <figure class="media equal equal-16-10 media-image box-shadow1"
                data-bp='{"imgSrc": "/static/Zeice/img/ice-fabrica-5.JPG" , "parentGalleryClass": "gallery-1" }'>
            <span style="background-image: url({% static 'Zeice/img/ice-fabrica-5.JPG' %})"></span>
        </figure>
    </div>

    <div class="col-6 col-lg-5">
        <figure class="media equal equal-16-10 media-image box-shadow1"
                data-bp='{"imgSrc": "/static/Zeice/img/ice-fabrica-6.JPG" , "parentGalleryClass": "gallery-1" }'>
            <span style="background-image: url({% static 'Zeice/img/ice-fabrica-6.JPG' %})"></span>
        </figure>
    </div>

    <div class="col-6 col-lg-5">
        <figure class="media equal equal-16-10 media-image box-shadow1"
                data-bp='{"imgSrc": "/static/Zeice/img/ice-fabrica-7.JPG" , "parentGalleryClass": "gallery-1" }'>
            <span style="background-image: url({% static 'Zeice/img/ice-fabrica-7.JPG' %})"></span>
        </figure>
    </div>
</div>

<div class="row flex-nowrap align-items-start g-2 g-xl-5" data-bottom-top="transform: translateX(-50%)"
     data-top-bottom="transform: translateX(-35%)">
    <div class="col-6 col-lg-5">
        <figure class="media equal equal-16-10 media-image box-shadow1"
                data-bp='{"imgSrc": "/static/Zeice/img/ice-fabrica-8.JPG" , "parentGalleryClass": "gallery-1" }'>
            <span style="background-image: url({% static 'Zeice/img/ice-fabrica-8.JPG' %})"></span>
        </figure>
    </div>

    <div class="col-6 col-lg-5">
        <figure class="media equal equal-16-10 media-image box-shadow1"
                data-bp='{"imgSrc": "/static/Zeice/img/ice-fabrica-9.JPG" , "parentGalleryClass": "gallery-1" }'>
            <span style="background-image: url({% static 'Zeice/img/ice-fabrica-9.JPG' %})"></span>
        </figure>
    </div>

    <div class="col-6 col-lg-5">
        <figure class="media equal equal-16-10 media-image box-shadow1"
                data-bp='{"imgSrc": "/static/Zeice/img/ice-fabrica-10.JPG" , "parentGalleryClass": "gallery-1" }'>
            <span style="background-image: url({% static 'Zeice/img/ice-fabrica-10.JPG' %})"></span>
        </figure>
    </div>

    <div class="col-6 col-lg-5">
        <figure class="media equal equal-16-10 media-image box-shadow1"
                data-bp='{"imgSrc": "/static/Zeice/img/ice-fabrica-11.JPG" , "parentGalleryClass": "gallery-1" }'>
            <span style="background-image: url({% static 'Zeice/img/ice-fabrica-11.JPG' %})"></span>
        </figure>
    </div>

    <div class="col-6 col-lg-5">
        <figure class="media equal equal-16-10 media-image box-shadow1"
                data-bp='{"imgSrc": "/static/Zeice/img/ice-fabrica-12.JPG" , "parentGalleryClass": "gallery-1" }'>
            <span style="background-image: url({% static 'Zeice/img/ice-fabrica-12.JPG' %})"></span>
        </figure>
    </div>
    <div class="col-6 col-lg-5">
        <figure class="media equal equal-16-10 media-image box-shadow1"
                data-bp='{"imgSrc": "/static/Zeice/img/ice-fabrica-14.JPG" , "parentGalleryClass": "gallery-1" }'>
            <span style="background-image: url({% static 'Zeice/img/ice-fabrica-14.JPG' %})"></span>
        </figure>
    </div>
</div>