{% load i18n %}
{% load static %}


<div class="container foreground">
    <div class="">
        <div class="">
            <h1 style="color:#B49359;" class="text-font-very-bold mb-5">
                {% blocktrans trimmed %}
                About Us
                {% endblocktrans %}</h1>
            <h5 style="color:white;" class="my-5 title-font fs-4">
                {% blocktrans trimmed %}
                Since the day of the company's creation in
                <span style="color:#B49359;">2018</span>,
                every day we study the needs and preferences of our customers.
                Therefore, we spend a lot of time on the quality of our product
                so that we can satisfy any wish of our customers.
                {% endblocktrans %}
            </h5>
            <hr>
            <h5 style="color:white;" class="my-5 title-font fs-4">
                {% blocktrans trimmed %}
                Good ice can be one of the most aesthetically appealing aspects of the cocktail,
                especially if this ice is made from purified water that is purified by reverse osmosis.
                It is pure demineralized ice. Our ice not only cools drinks, as it melts it becomes a vital
                part of the cocktail itself,
                elegantly changing its flavor and texture.
                {% endblocktrans %}
            </h5>
        </div>
    </div>
</div>