{% extends 'base.html' %}
{% load static %}
{% load static i18n %}

{% block content %}

<!-- presentation -->
<section class="py-15 overflow-hidden services-bg">
    <div class="container foreground ">
        <div class="row g-5 justify-content-center justify-content-lg-between">
            <div class="col-lg-6 position-relative">
                <div class="row ">
                    <div class="col-md-10 order-md-2">
                        <div class="carousel box-shadow2">
                            <div data-carousel='{
                            "mouseDrag": true,
                            "navContainer": "#nav-1",
                            "gutter": 0,
                            "loop": true,
                            "items": 1}'>
                                {% for photo in photos %}
                                <div class="col-12 col-md-6 col-lg-4 " data-aos="zoom-in">

                                    <div class="card slide inverted ">
                                        <div class="equal-1-1">
                                            <img class="card-img-top" src="{{ photo.image.url }}" alt="Card image">
                                        </div>
                                    </div>

                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 order-md-1 p-0">
                        <div class="cuadro item carousel-thumbs d-flex flex-row flex-sm-column p-1" id="nav-1">
                            {% for photo in photos %}
                                <div class="card slide m-1">
                                    <img class="card-img-top equal-1-1" src="{{ photo.image.url }}" alt="Image">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xl-5">
                <h1 style="color:#B49359;" class="text-font-very-bold">{{ zebartools_item.title }}</h1>
                <div style="color:white;" class="title-font fs-4 mb-3">{{ zebartools_item.price }} € + 10% IVA</div>

                <h5 style="color:white;" class="title-font fs-6">
                    {{ zebartools_item.description }}
                </h5>

                <div class="row pt-5 justify-content-center">
                    <div class="col-6 text-center">
                        <a href="https://wa.me/34698458286?text=Hello!%20I'm%20interested%20in%20{{zebartools_item.title}}%20"
                           class="btn-electric-dark text-center">{% trans "Order" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="position-absolute top-0 start-0 translate-middle"
         src="{% static 'Zeice/assets/images/svg/pattern-lg-light.svg' %}"
         alt="Image">
</section>

{% endblock %}